# iOS/Xcode ile ilgili dosyaları analiz dışında bırak
*.pbxproj linguist-detectable=false
*.xcodeproj linguist-detectable=false

# Android build dosyaları vs. analiz edilmesin
*.gradle linguist-detectable=false
*.iml linguist-detectable=false

# Dart dosyaları ana programlama dili olarak algılansın
*.dart linguist-detectable=true