
Pods/** linguist-vendored

build/macos/** linguist-vendored

android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored

*.c linguist-detectable=false
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.cc linguist-detectable=false
*.mm linguist-detectable=false
*.m linguist-detectable=false

**/Makefile linguist-detectable=false

*.dart linguist-language=Dart
